/* * {
  border: 1px solid gray;
} */

.main {
  margin-top: 300px;
}
.logo {
  width: 300px;
}
.praivate_modal {
  font-size: small;
  margin-left: 20px;
  color: gray;
}
.service_modal {
  font-size: small;
  color: gray;
}
.service {
  width: 500px;
}

.praivate {
  width: 500px;
}

.hr {
  border: 0;
  height: 3px;
  background: #000;
  width: 500px;
}

.btn01 {
  width: 500px;
  height: 50px;
  background-color: black;
  color: white;
}
.button {
  margin-top: 200px;
}

.checkbox {
  width: 18px;
}
