img {
  width: 300px;
}

#signup {
  margin-top: 100px;
}

.hr {
  border: 0;
  height: 3px;
  background: #000;
  width: 500px;
}
.button {
  text-align: center;
}

#email_signup {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  background: white;
}

#naver_signup {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  background: white;
}

#naver {
  width: 20px;
}

#kakao_signup {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  background: white;
}

#kakao {
  width: 20px;
}
