.logo {
  width: 300px;
  margin-top: 100px;
}

.width {
  width: 600px;
}

.main_btn {
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  margin-right: 100px;
}

.login_btn {
  width: 250px;
  height: 50px;
  background-color: white;
  border: black 1px solid;
  color: black;
}
