#main-text {
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    color: #fff;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-img {
    vertical-align: middle;
}

#main-img-box {
    position: relative;
}

.my-left-item {
    grid-area: left;
    height: 30vw;
}

.my-mdt-item {
    grid-area: mid-top;
    height: 15vw;
}

.my-rt-item {
    grid-area: right-top;
    height: 15vw;
}

.my-mdb-item {
    grid-area: mid-bottom;
    height: 15vw;
}

.my-rb-item {
    grid-area: right-bottom;
    height: 15vw;
}

.my-grid-container {
    display: grid;
    grid:
        "left left mid-top right-top right-top"
        "left left mid-bottom mid-bottom right-bottom";
}